.nav_link {
  position: relative;
  list-style: none;
  .link_underline {
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background-color: aquamarine;
    width: 0%;
    transition: all 150ms ease-in-out;
  }
  .link_underline.active {
    width: 50%;
  }
  &:hover {
    .link_underline {
      width: 100%;
    }
  }
}
